@(products : List[ProductDetail])(searchDisplay : String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/fontawesome/css/fontawesome-all.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>Products</title>
</head>
<body>
@navbar.render("products")
<div class="jumbotron">
    <div class="row">
        <div class="col-12 text-center display-2">
            Products
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <form method="GET">
                <div class="input-group">
                    <input class="form-control text-center" type="text" name="searchCriteria" value="@searchDisplay">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <table class="table-hover table-bordered text-center">
                <tr>
                    <th class="col-md-5">Product Name</th>
                    <th class="col-md-4">Category</th>
                    <th class="col-md-3">Unit Price</th>
                </tr>
                @for(product <- products) {
                    <tr>
                        <td><a href="product/@product.getProductId" class="text-info">@product.getProductName</a></td>
                        <td>@product.getCategoryName</td>
                        <td>$@product.getUnitPrice</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
</body>
</html>