@(product : Product)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Product Detail</title>
</head>
<body>
<div class="jumbotron">
    <div class="row">
        <div class="col-2 text-center">
            <a href="/../products" class="btn btn-secondary btn-lg">
                  <- Back to Products
            </a>
        </div>
        <div class="col-8 text-center display-2">
            @product.getProductName
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <table class="table table-bordered">
                <tr>
                    <th class="col-md-3">Price</th>
                    <th class="col-md-3">Units In Stock</th>
                    <th class="col-md-3">Units On Order</th>
                    <th class="col-md-3">Reorder Level</th>
                </tr>
                <tr>
                    <td>$@product.getUnitPrice</td>
                    <td>@product.getUnitsInStock</td>
                    <td>@product.getUnitsOnOrder</td>
                    <td>@product.getReorderLevel</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>